<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meng.store.auth.model.mapper.AccountMapper">

    <!--    &lt;!&ndash; 配置 查询结果的列明和实体类的属性名的对应关系 &ndash;&gt;-->
    <resultMap id="userMap" type="com.meng.store.auth.model.dto.AccountDao">
        <!--主键字段的对应 -->
        <id property="id" javaType="Integer" column="id"/>
        <!--非主键字段的对应-->
        <result property="nickname" javaType="String" column="nickname"/>
        <result property="account" javaType="String" column="account"/>
        <result property="email" javaType="String" column="email"/>
        <result property="icon" javaType="String" column="icon"/>
        <result property="roles" javaType="String" column="roles"/>
        <result property="token" javaType="String" column="token"/>
        <result property="createDate" javaType="Date" column="create_date"/>
    </resultMap>

    <select id="login" resultMap="userMap">
        SELECT * FROM users
    </select>

    <insert id="register" parameterType="com.meng.store.auth.model.dto.AccountDao" useGeneratedKeys="true" keyProperty="id">
        <selectKey keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID();
        </selectKey>
        insert into users (account,cipher,nickname,email,icon,roles,token,createDate)
        values (user.account,user.password,user.nickname,user.email,user.icon,user.roles,user.token,user.createDate);
    </insert>

    <select id="update" resultType="int">
        SELECT count(*) FROM users
    </select>

    <select id="reset" resultType="int">
        SELECT count(*) FROM users
    </select>
    <select id="logout" resultType="int">
        SELECT count(*) FROM users
    </select>
</mapper>